.homepage-background {
  display: flex;
  flex-direction: column;
  .header {
    position: block;
    .g_outer-head {
      display: flex;
      flex-direction: row;
      display: block;
      position: relative;
      margin: 0 auto;
      height: 50px;
      width: 100%;
      background-color: #f1f1f1ee;
      text-align: center;
      border-style: solid;
      border-width: 1px;
      box-sizing: border-box;
      z-index: 100;
      .category {
        .button {
          display: block;
          width: 240px;
          height: 50px;
          text-align: center;
          line-height: 50px;
          color: rgb(14, 13, 13);
          background-color: #e2dcdc;
          position: relative;
          &:hover + .content_category {
            display: block;
          }
        }
        .content_category {
          display: none;
          height: 350px;
          width: 1000px;
          position: absolute;
          margin: 0;
          padding: 0;
          font-size: 14px;
          line-height: 1.5;
          min-height: 100%;
          background-color: #fff;
          border: 1px solid #dbdbdb;
          border-top-width: 0;
          text-align: center;
          &:hover {
            display: block;
          }
          .a-goodsList {
            overflow: auto;
            overflow-x: hidden;
            margin: 0;
            padding: 0;
            width: 240px;
            height: 100%;
            list-style: none;
          }
        }
      }
      .mypage {
        height: 50px;
        width: 200px;
        position: absolute;
        right: 0px;
        top: 10px;
        z-index: 1;
        text-align: center;
        font-size: large;
      }
    }
  }
}
