.first-level-categories {
  display: flex;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ececec;
  &:hover .second-background {
    display: block;
  }
  .first-category-head {
    display: block;
    margin-left: 30px;
    &:hover + .second-background {
      display: block;
    }
  }
  .second-background {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 223px;
    width: calc(100% - 223px);
    height: 100%;
    padding: 15px 0px 15px 30px;
    &:hover {
      display: block;
    }
    .img {
      position: absolute;
    }
    .category-name {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      font-family: "icon";
      font-style: normal;
      font-size: 20px;
      line-height: 1;
      color: #009e96;
    }
    .category-List {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      z-index: 1;
    }
  }
}
