.flex-items-center-justify-between-h-16 {
  margin-top: 70px;
  margin-left: 100px;
  display: flex;
  margin-bottom: 100px;
  .flex-items-center-text-sm-gap-6 {
    display: flex;
    margin-left: 200px;
    margin-right: 550px;
    li {
      margin-right: 50px;
    }
  }
  .sm-gap-4-sm-flex {
    display: flex;
    a {
      margin-right: 20px;
    }
  }
}
